[submodule "coinmarketcap-history"]
	path = ext/coinmarketcap-history
	url = https://github.com/dahuebi/coinmarketcap-history.git
[submodule "coinmarketcap-scraper"]
	path = ext/coinmarketcap-scraper
	url = https://github.com/dahuebi/coinmarketcap-scraper.git
